svg {
	margin: 0 auto;
	display: block;
	background: transparent;
}

.sphere {
	fill: blue;
}

.land2 {
	fill: transparent;
}

.boundry2 {
	fill: transparent;
	stroke: transparent;
	stroke-linejoin: round;
	stroke-linecap: round;
	vector-effect: non-scaling-stroke;
}

.overlay {
	fill: none;
	pointer-events: all;
}

$color_list: #e60382, #a11252, #57043a;

$speed: 10s;
$timing-function: ease-in-out;
$size: 2000%;

#gradient, .land {
	width: 100%;
  height: 100%;
	background: linear-gradient(to left, $color-list);
	background-size: $size $size;
  animation: colors $speed $timing-function backwards;
  animation-iteration-count: initial;
}


@keyframes colors { 
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}
#map-canvas {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.quake-logo {
  margin-bottom: 2em;
}